<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ret</key>
	<integer>0</integer>
	<key>msg</key>
	<string>ok</string>
	<key>sshq</key>
	<dict>
		<key>id</key>
		<integer>899002</integer>
		<key>zqdm</key>
		<integer>899002</integer>
		<key>zqjc</key>
		<string>三板做市</string>
		<key>zrsp</key>
		<real>1085.514</real>
		<key>jrkp</key>
		<real>1085.514</real>
		<key>zjcj</key>
		<real>1084.074</real>
		<key>cjsl</key>
		<integer>46264803</integer>
		<key>cjje</key>
		<real>284312612</real>
		<key>cjbs</key>
		<integer>0</integer>
		<key>zgcj</key>
		<real>1085.84</real>
		<key>zdcj</key>
		<real>1082.49</real>
		<key>syl1</key>
		<real>0</real>
		<key>zdf</key>
		<real>-0.001</real>
		<key>syl2</key>
		<real>0</real>
		<key>jsd1</key>
		<real>0</real>
		<key>jsd2</key>
		<real>0</real>
		<key>hycc</key>
		<integer>0</integer>
		<key>sjw5</key>
		<integer>798</integer>
		<key>ssl5</key>
		<integer>890</integer>
		<key>sjw4</key>
		<integer>298</integer>
		<key>ssl4</key>
		<integer>456</integer>
		<key>sjw3</key>
		<integer>422</integer>
		<key>ssl3</key>
		<integer>657</integer>
		<key>sjw2</key>
		<integer>424</integer>
		<key>ssl2</key>
		<integer>888</integer>
		<key>sjw1</key>
		<integer>110</integer>
		<key>ssl1</key>
		<integer>534</integer>
		<key>bjw1</key>
		<integer>3453</integer>
		<key>bsl1</key>
		<integer>345</integer>
		<key>bjw2</key>
		<integer>657</integer>
		<key>bsl2</key>
		<integer>890</integer>
		<key>bjw3</key>
		<integer>345</integer>
		<key>bsl3</key>
		<integer>567</integer>
		<key>bjw4</key>
		<integer>111</integer>
		<key>bsl4</key>
		<real>123.55</real>
		<key>bjw5</key>
		<integer>213</integer>
		<key>bsl5</key>
		<integer>124</integer>
		<key>scdm</key>
		<string>zs</string>
		<key>token</key>
		<string>0.0,0,0.0,0,2.84312612E8,46264803</string>
	</dict>
</dict>
</plist>
